.user-page {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    max-width: 1400px;
    margin: 40px auto;
}

.user-page .user-informations {
	margin:0 auto;
    flex: 1 1 0%;
    position:sticky;
    position: -webkit-sticky;
    top:120px;
}

@media (max-width:789px) {
    .user-page .user-informations {
        position: static;
    }
}

.user-page .user-informations figure {
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin:auto;
    margin-bottom: 20px;    
    border-radius: 10px;
}

.user-page .user-informations figure img{
    object-fit: cover;
    border-radius: 10px;
}

.user-page .user-informations h1 > span.firstname {
    text-transform: none;
}

.user-page > section {
    flex:1 1 500px;
}

.user-page .user-administratives-informations {
    padding: 20px;
    color:#FFF;
}

.user-page .user-administratives-informations -moz::selection,
.user-page .user-administratives-informations ::selection {
    background:#FFF;
    color: #000;
}

.user-page .user-siteperso
{
    background: rgba(244, 237, 237, 0.5);
    padding: 2px 13px;
}

.user-page .user-siteperso:hover {
	color:#FFF;
}

.user-page .deploy {
    display: none;
}

.user-page .author-content {
    padding: 20px;
}

/*************    TABS    **************/

.users-tabs {
	list-style-type:none;
	position:relative;
	max-width:1200px;
}

.users-tabs label {
	display:block;
	padding:5px 20px;
	border-radius:5px;
	background:#eee;
	margin-top:5px;
	cursor:pointer; /* changement de curseur de souris */
}
.darkmode .users-tabs label {
    color:#333;
}

[type="checkbox"]:checked + label {
	border-radius:5px 5px 0 0;
}

.users-tabs label:hover,
.users-tabs [type="checkbox"]:checked + label {
	color:#999;
}

.users-tabs article,
.user-page .users-tabs [type="checkbox"] {
	display:none;
	padding:20px;
}

.users-tabs article {
	border-radius:0 0 5px 5px;
	margin-bottom:10px;
}

.users-tabs [type="checkbox"]:checked ~ article {
	display:block;
}


/****
* AFFICHAGE DES CARTES 
*/

section.userpage-list.users-cards {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

section.userpage-list.users-cards > div.firstletterList {
    width: 100%;
    position: relative;
    margin-top:40px;
    font-size: 2.5rem;
}

section.userpage-list.users-cards > div.firstletterList span{
    position: absolute;
    left:-30px;
}

@media (max-width:1110px) {
    section.userpage-list.users-cards.alignwide > div.firstletterList span,
    section.userpage-list.users-cards.alignfull > div.firstletterList span
    {
        position: static;
    }
}

.userpage-list.users-cards > article {
    flex:0 1 400px;
    margin:10px;
    border-radius:5px;
    /* border:1px solid #D0D0D0; */
}

.userpage-list.users-cards > article > a {
    padding:20px;
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color:#333;
}

.userpage-list.users-cards > article > a:hover {
    background: #F0F0F0;
}

.userpage-list.users-cards > article > a:hover > div > *{
    color:#666;
}

.userpage-list.users-cards > article figure {
    flex:0 0 75px;
    /* border-radius: 10px; */
    height: 75px;
    margin-right: 20px;
    background:#CCC;
    line-height: 75px;
    text-align: center;
}

.userpage-list.users-cards > article figure .userLetters {
    width: 100%;
    height: 100%;
    font-size: 1.5625rem;
    text-transform: uppercase;
}

.userpage-list.users-cards > article figure img{
    margin:0;
    object-fit: cover;
}

.userpage-list.users-cards > article > a p{
    margin-bottom:0;
    text-align: left;
}

/* @media (min-width:400px) {
	.users-tabs label {	
		float:left;
		border-radius:5px 5px 0 0;
		margin-top:0;
		margin-right:1px;
	}
	
	.users-tabs article {
		clear:both;
		position:absolute;
		top:29px;
		border-radius:0 5px 5px 5px;
		margin-bottom:0;
	}	
} */
/***************************/


.hideEmail {
    display: none;
}

.userpage-list > .sedoo_userpage_ul {
    margin:10px;
}

.userpage-list > .sedoo_userpage_ul li {
    padding: 5px;
}

.userpage-list > .sedoo_userpage_ul li:hover  {
    background:#f9f9f9;
}

.userpage-list > .sedoo_userpage_ul li span{
    margin-right: 5px;
}

.userpage-list > .sedoo_userpage_ul.sedoo_line li{
    display: inline-block;
}


.userpage-list > .sedoo_userpage_ul.sedoo_line li span{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



